.faq-accordion-btn {
  text-align: left;
  font-weight: 700;
  width: 100%;
  background-color: #fff;
  outline: none;
  font-size: 15px;
  padding: 16px 22px;
  border: none;
}

.faq-accordion-btn span {
  float: right;
}

.faq-accordion .accordion {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item {
  border-radius: 5px;
  display: block;
  background-color: #fff;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-title {
  padding: 20px 60px 17px 25px;
  color: #000;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.faq-accordion .accordion .accordion-title i {
  position: absolute;
  right: 25px;
  top: 23px;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq-accordion .accordion .accordion-title.active i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq-accordion .accordion .accordion-content {
  display: none;
  position: relative;
  margin-top: -5px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.faq-accordion .accordion .accordion-content p {
  line-height: 1.8;
  text-align: justify;
}

.faq-accordion .accordion .accordion-content.show {
  display: block;
}
